.stage {
  background-color: black;
  width: 390px;
  height: 600px;
  margin: 0 auto;
  padding: 0;
  position: relative;
}
.stage span {
  width: 30px;
  height: 30px;
  position: absolute;
  margin: 0;
  padding: 0;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  box-sizing: border-box;
}
.stage span.orange {
  background-color: orange;
}
.stage span.olive {
  background-color: olive;
}
.stage span.cornflowerblue {
  background-color: cornflowerblue;
}
.stage span.cyan {
  background-color: cyan;
}
.stage span.red {
  background-color: darkred;
}
.text-center {
  text-align: center;
}
